/* Reset and Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background-color: #fce4ec; /* Rosa claro para o fundo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #1f194c; /* Cor para o texto */
}

/* Chat Container */
.chat-container {
    width: 100%;
    max-width: 400px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Chat Header */
.chat-header {
    background: linear-gradient(#ffffff 50%, #e91e63 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    padding: 16px;
    color: #1f194c;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.5s;
}
.chat-header:hover {
    background-position: 0 100%;
    color: #ffffff;
}

/* Chat Body */
.chat-body {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Chat Content */
.chat-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Chat Message */
.chat-message {
    max-width: 80%;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
    line-height: 1.4;
    width: fit-content;
}

.chat-message.bot {
    align-self: flex-start;
    background-color: #e9f5ff;
    color: #333;
    border-radius: 8px 8px 8px 0;
}

.chat-message.user {
    align-self: flex-end;
    background-color: #e91e63;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}

/* Chat Footer */
.chat-footer {
    padding: 16px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

.chat-input-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    resize: none;
}

.chat-submit {
    background-color: transparent;
    border: none;
    color: #e91e63;
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-message.bot a {
    color: #e91e63; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.chat-message.bot a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


/* Breakpoints */
@media screen and (max-width: 576px) {
    .chat-container {
        width: 100%;
        height: 100vh;
    }
}
